body {
		background-image: url(1612876443_42-p-goluboi-sinii-gradientnii-fon-43.jpg)
	
	}
.j {
	border-soil:5px;
	
}
.k {
	color:#ECBD00;
}
.p {
	color:#DE86EC;
}
.l {
	color:#7D0F1A;
}