body {
	background-image: url(5656.jpg)
	
	}
.l {
	border: 4px solid #EC00FD;
}
.m {
	border: 4px solid #FDF91E;
}
.o {
	border: 4px solid #FD1E3F;
}
div {
	color: #cfa10a;
	}
.i {
	border: 4px solid #fad000;
	}
.k {
    border: 4px soild #1fff5a;
} 
.nb {
	color: #cfa10a ;
	}