body {
		background-image: url(https://yt3.ggpht.com/ytc/AAUvwnjTR53Sf_WJ401sHULqSeB9Z2GzmTFN9EpeqCvZ=s900-c-k-c0x00ffffff-no-rj)
	
	}
.j {
	color:#38D7EC;
	
}
.k {
	color:#ECBD00;
}
.p {
	color:#DE86EC;
}